.app__footer {
    padding: 20px;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}
  
.input label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 3px;
    color: #acacac;
    font-family:'Courier New', Courier, monospace;
    font-size: .8rem;
    font-weight: normal;
    line-height: 1.2rem;
}
  
.input input {
    display: block;
    max-height: 2.8rem;
    padding: .8rem 1rem;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4;
    color: #000;
    background: #fff none;
    border: 1px solid #999;
    border-radius: 5px;
    min-width: 250px;
}